*{
    box-sizing: border-box;
    }
    html, body {
    padding: 0;
    margin: 0;
    font-family: verdana, arial, sans-serif;
    }
    body {
    color: #fff;
    font-size: 1.1em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    }
    main {
    display: flex;
    flex-direction: column;
    }
    article {
    background-color: #546e7a;
    flex: 2 2 12em;
    padding: 1em;
    }
    nav, aside {
    flex: 1;
    background-color: #455a64;
    }
    nav {
    order: -1;
    }
   
    header, footer {
    flex: 0 0 5em;
    background-color: #37474f;
    }
   
    @media screen and (min-width: 600px) {
   
    body{
    min-height: 100vh;
    }
    main {
    flex-direction: row;
    min-height: 100%;
    flex: 1 1 auto;
    }
    }


    :root{ font-size: 16px; font-family: sans-serif;}
    *{ padding: 0; margin: 0; box-sizing: border-box; text-decoration: none;}
    .menu{ background-color: #fff; margin: 1.5rem 1rem 0 1rem; padding: 1rem 0; border-bottom: 1px solid black; border-top: 1px solid black; display: flex;}
    header .menu{display: flex; justify-content: space-between; align-content: baseline ;align-items: center;}
    .container .menu ul {list-style: none;}
    header .menu ul li { display: inline-block; margin-left: 3rem; ;}
    header .menu ul li a{ color: black;}
    .btn { padding: 1.5rem 0.75rem; border: 1px solid black; border-radius: 100px; min-width: 100px; text-align: center; font-weight: 600;display: inline-block;align-content: space-between;}
    .blue{ background-color: blue; color: #fff;}
    #signin{ color: #fff;}
    h1{background-color: #546e7a;} 

    .hamburger { background-image: url(./cowork-button.png);
    display: none;background-size: cover; width: 2rem; height: 2rem;}
        .hamburger:hover{ transform: scale(1.1); filter:drop-shadow(0 0 0.1rem black)}
        #burger-trigger { display: block; width: 2rem; height: 2rem; z-index: 2; opacity: 0;}