*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
span{color: yellow;}
.container{
    width: 100%;
    max-width: 600px;
    min-height: 400px;
    height: 400px;
    border: 2px solid black;
    margin: 0px auto;}

.form-head {background-color: orange;
            height: 5%;
            padding-left: 15px;}
            
 .form-main{background-color: rgb(2, 2, 44);
            height: 90%;
        ;}
            
.left-side,
.right-side{height: 100%;
            display: inline-block;}   

.left-side{width: 40%;
           background-color: rgb(2, 2, 44);}  
           
.right-side{width: 59%;
            background-color: rgb(2, 2, 44);
            height: 200px;}      

label{color: yellow; display: block; margin-bottom: 5px;}            
.row{ margin-top: 5px;
      text-align: end;
       height: 100%;}

.row-input {margin-top: 5px;
             text-align: start;
            width: 100%;}
.form-group input[type="radio"] {margin-right: 5px; margin-bottom: 15px;}
.form-group{color: yellow;}
.form-footer{background-color: orange;
    height: 5%;
    padding-left: 15px}
